.bottom {
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom>div {
    width: 30%;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom>div:nth-child(1) {
    flex-direction: column;
}

.bottom>div:nth-child(1) p:nth-child(1) {
    font-weight: bold;
}

.bottom>div:nth-child(1) .icon {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.bottom>div:nth-child(1) .icon i.fa {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 5px;
}

.bottom>div:nth-child(2) {
    flex-direction: column;
}

.bottom>div:nth-child(2) p:nth-child(1) {
    font-weight: bold;
}

.bottom>div:nth-child(2) p:nth-child(2) {
    text-align: center;
    margin-top: 10px;
}

.bottom>div img {
    width: 80%;
    height: 150px;
}